@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Reguler.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('../fonts/Quicksand-Bold.ttf');
}

/* GENERAL CLASSNAME */
.bt {
    display: block;
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

button {
    border: none;
}

.bt-primary {
    background-color: #ff5f5f;
    color: #fff;
}

.bt-primary:hover {
    background-color: #ff8989;
}

.bt-primary-transparent {
    background: transparent;
    border: 1px solid #fc5e63;
    color: #fc5e63;
}

.bt-primary-transparent:hover {
    background: #fc5e63;
    color: #fff;
}

.bt-secondary {
    background: rgb(250, 230, 230);
    color: #fc5e63;
    border: 1px solid transparent;
}

.bt-secondary:hover {
    background: transparent;
    border-color: #fc5e63;
}

.bt-secondary-reverse {
    background: #fc5e63;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid;
    transition: .3s;
    cursor: pointer;
}

.bt-secondary-reverse:hover {
    background: transparent;
    border-color: #fc5e63;
    color: #fc5e63;
}

.bt-blue {
    background-color: #2a75f3;
    color: #fff;
}

.bt-blue:hover {
    background-color: #74a1f0;
}

.bt-default {
    background: #f3f3f4;
    border: none;
}

.bt-default:hover {
    background: #e7e7e9;
}

input,
textarea {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    transition: .3s;
}

input:focus,
textarea:focus {
    outline-width: 0;
    border-color: rgb(255, 202, 202);
}

.j-end {
    justify-content: end;
}

.f-reverse {
    flex-direction: row-reverse;
}

.ml-5 {
    margin-left: 3em;
}

.mr-5 {
    margin-right: 3em;
}

.MuiSvgIcon-root {
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* GENERAL ELEMENT */
* {
    font-family: Quicksand-Bold;
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 25px
}

a {
    cursor: pointer;
}

a,
h6 {
    font-size: 16px;
    color: #000;
    line-height: 26px;
    text-decoration: none;
}

p {
    font-family: Quicksand;
    font-size: 18px;
    color: #ababab;
    font-weight: 500;
    line-height: 30px;
}

body {
    margin: 0;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

nav>div {
    display: flex;
    margin: 0 8%;
    justify-content: space-between;
    align-items: center;
}

nav>div>a {
    display: flex;
    align-items: center;
}

nav>div>a img {
    margin-right: .5em;
}

nav>div>div {
    display: flex;
    align-items: center;
}

nav>div>div .nav-show {
    animation-name: showNav;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

nav>div>div .nav-hide {
    animation-name: hideNav;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes showNav {
    from {
        right: -250px;
    }

    to {
        right: 0;
    }
}

@keyframes hideNav {
    from {
        right: 0;
    }

    to {
        right: -250px;
    }
}

.nav-link a, .nav-link div {
    display: inline-flex;
    padding: 20px 15px;
    cursor: pointer;
    transition: .3s;
}

.nav-link div {
    line-height: 26px;
}

.nav-link a:hover,
.nav-link .active {
    color: #fc5e63;
}

.nav-link .bt {
    margin: 0 15px;
    padding: 7px 20px;
}

.notification-icon {
    margin: 5px 1.5em 0;
    cursor: pointer;
}

.bt-dropdown {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fc676b;
    border-radius: 50%;
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, .15), 0 1px 3px 0 rgba(93, 100, 148, .2);
}

.dropdown {
    top: 65px;
    right: 3.5%;
    position: absolute;
    opacity: 0;
    background-color: #fff;
    border: 1px solid rgba(90, 94, 154, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.dropdown .btn {
    padding: 15px 30px 15px 15px;
    display: flex;
    align-items: center;
    font-family: Quicksand;
    border-bottom: 1px solid rgba(90, 94, 154, 0.1);
    transition: .3s;
    cursor: pointer;
}

.dropdown .btn:hover {
    background: #f9f9f9;
}

.dropdown-show {
    animation-name: showDropdown;
    animation-duration: .5s;
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
}

.dropdown-hide {
    animation-name: hideDropdown;
    animation-duration: .25s;
    opacity: 0;
    transition: visibility 0s, opacity .25s linear;
}

@keyframes showDropdown {
    from {
        top: 0;
    }

    to {
        top: 65px;
    }
}

@keyframes hideDropdown {
    from {
        top: 65px;
    }

    to {
        top: 0;
    }
}

#nav-toogle {
    display: none;
    margin-left: .5em;
    padding: 20px 15px;
}

/* home */
#root>div:nth-child(1) {
    padding-left: 8%;
    padding-right: 8%;
}

#home-page header {
    padding: 5em 0 0;
}

#home-page header>div {
    position: absolute;
    width: 33%;
    margin-top: 4em;
}

#home-page header img {
    display: block;
    width: 100%;
}

#home-page header .bt {
    margin-top: 3em;
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, .15), 0 1px 3px 0 rgba(93, 100, 148, .2);
}

#home-page p {
    margin: 0;
}

.home-intro {
    margin-top: -4em !important;
    text-align: center;
}

.home-intro>p {
    display: inline-block;
    width: 70%;
}

.home-intro span {
    color: #fc5e63;
}

.redirect-link {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.home-intro .step-list {
    margin-top: 3em;
}

.home-intro .step-list>div {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.home-intro .step-list>div img {
    width: 25%;
}

.home-intro .step-list>div .bt {
    margin-top: 2em;
    padding: 10px 35px;
}

.home-intro .step-list>div>div {
    width: 50%;
    text-align: left;
}

.home-intro .step-list>div>div>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: 2px solid #fc5e63;
    border-radius: 50%;
}

.home-intro .benefit-list {
    display: flex;
    margin-top: 6em;
    justify-content: space-between;
    align-items: center;
}

.home-intro .benefit-list img {
    width: 45%;
}

.home-intro .benefit-list>div {
    width: 50%;
    text-align: left;
}

.home-intro .benefit-list>div div {
    display: flex;
    margin-top: 1em;
}

.home-intro .benefit-list p {
    margin: -2px 0 0 1em !important;
}

/* permasalahan */
#permasalahan-page {
    padding: 6em 0 0;
}

/* search bar */

.search {
    display: flex;
    justify-content: space-between;
}

.search .search-title h2 {
    margin: 0;
}

.search .search-title h4 {
    margin: 5px 0;
    font-family: Quicksand;
    font-weight: 300;
}

.search .search-title h4 span {
    font-size: 20px;
    color: #fc5e63;
}

.permasalahan-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    margin-top: 2em;
}

.permasalahan-list>div {
    flex-basis: 24%;
    margin-bottom: 1em;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.permasalahan-list>div .img {
    width: 100%;
    height: 10em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-size: cover;
    background-position: center;
}

.permasalahan-list>div .list-content {
    padding: 1em;
}

.permasalahan-list>div .list-content span {
    display: block;
    padding: 5px 10px;
    font-size: 11px;
    cursor: text;
}

.permasalahan-list>div .list-content>a {
    display: block;
    margin: .5em 0;
}

.permasalahan-list>div .list-content .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.permasalahan-list>div .list-content .action .bt {
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 15px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 20px;
    border-top-left-radius: 0;
    font-family: Quicksand;
}

.permasalahan-list>div .list-content .action p {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    color: rgb(144, 144, 144);
}

.load-more {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.load-more button {
    font-family: sans-serif;
    font-weight: 600;
    padding: 15px 75px;
}

/* modal permasalahan */
#add-solusi form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* single page */
#single-permasalahan {
    display: flex;
    justify-content: center;
    padding-top: 6em;
}

.article-container {
    width: 45em;
}

.article-container img {
    width: 100%;
    border-radius: 10px;
}

.article-container h1 {
    margin-bottom: 0;
    font-size: 35px;
}

.article-container h6 {
    font-family: Quicksand;
    margin: 7px 0;
    font-weight: 300;
    color: #ababab;
}

.article-container p {
    margin: 0;
    text-align: justify;
    color: #000;
}

.article-container>a {
    width: 15em;
    margin-top: 2em;
    float: right;
    text-align: center;
}

.article-container>div {
    display: flex;
    align-items: center;
    margin: 1em 0 2em;
}

.article-container .profile-img {
    width: 50px;
    height: 50px;
    margin-right: 1em;
    border-radius: 50%;
    background: #d8d8d8;
}

.article-container .profile h6 {
    margin: -3px 0 0;
}

/* form permasalahan */
#form-permasalahan {
    padding-top: 6em;
}

#form-permasalahan .form-header {
    display: flex;
    justify-content: space-between;
}

#form-permasalahan .form-header>div {
    width: 50%
}

#form-permasalahan .form-header img {
    width: 20em;
    height: 20em;
}

#form-permasalahan form {
    display: flex;
    justify-content: space-between;
    margin-top: -5em;
}

#form-permasalahan form>div:nth-child(1) {
    flex-basis: 65%;
}

#form-permasalahan .input-container {
    display: flex;
    justify-content: space-between;
}

#form-permasalahan span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    border-radius: 50%;
    background: #fc5e63;
    color: #fff;
}

#form-permasalahan .input-container>div {
    width: 90%;
}

#form-permasalahan h6 {
    margin: 3px 0 1em;
    font-size: 18px;
}

#form-permasalahan input,
#form-permasalahan textarea {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    font-family: sans-serif;
    font-size: 14px;
}

#form-permasalahan input::placeholder,
#form-permasalahan textarea::placeholder {
    color: #b9b9b9;
}

#form-permasalahan button {
    margin-top: 2em;
    padding: 10px 35px;
    font-size: 14px;
}

#form-permasalahan hr {
    margin: 2em 0;
    background: #dcdcdc;
    border: .5px solid #ececec;
}

#form-permasalahan .input-image {
    width: 15em;
    margin-top: 7em;
    padding: 1em;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

#form-permasalahan .input-image span {
    margin-bottom: .75em;
}

#form-permasalahan .input-image button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#form-permasalahan .input-image .MuiSvgIcon-root {
    margin-right: 8px;
    font-size: 20px;
}

#input-file {
    display: none;
}

/* Sign or Auth Modal */
#sign, #add-solusi {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
}

#sign .bg-fade, #add-solusi .bg-fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .9;
}

#sign .form, #add-solusi .form {
    width: 29em;
    padding: 2em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
    border-radius: 5px;
    z-index: 1;
}

#sign .form .MuiSvgIcon-root, #add-solusi .form .MuiSvgIcon-root {
    float: right;
    color: rgb(94, 94, 94);
    transition: .3s;
}

#sign .form .MuiSvgIcon-root:hover, #add-solusi .form .MuiSvgIcon-root:hover {
    color: #000;
}

#sign .form #select-status {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 3em;
    text-align: center;
}

#sign button, #add-solusi button {
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .75px;
}

#sign label, #add-solusi label {
    margin: .6em 0;
    font-size: 15px;
    text-align: left;
}

#sign input, #add-solusi textarea, #add-solusi input {
    margin-bottom: 1em;
    background-color: #f3f3f4;
    border-color: transparent;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    transition: .3s;
}

#sign input:focus, #add-solusi textarea:focus {
    background-color: transparent;
    border-color: #ffa1a5;
}

#sign h2 {
    width: fit-content;
    margin: -.9em 0 1.2em;
}

#sign h6,
#sign span {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
}

#sign span {
    font-weight: 600;
    cursor: pointer;
}

#sign span:hover {
    text-decoration: underline;
}

#sign hr {
    width: 100%;
    overflow: visible;
    margin: 2.75em 0 1.75em;
    padding: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;
}

hr.divider:after {
    content: 'atau';
    display: inline-block;
    position: relative;
    top: -10px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}

#sign .form-sign {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -24px;
    opacity: 0;
}

#sign .form-sign>div {
    display: flex;
    justify-content: space-between;
}

#sign .form-sign>div>div {
    width: 48%;
}

#sign .form-sign>div input {
    width: 92%;
    margin-top: .6em;
    padding: 10px 4%;
}

#sign .form-sign button {
    padding: 12px 15px;
    margin: 0 0 1.5em;
}

#sign .form-sign .daftar {
    width: 50%;
    margin: 1em 0 0;
    max-width: 200px;
}

/* all sign element animation */
.fade-in {
    display: flex !important;
    opacity: 0;
    animation-name: showFade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: visibility 0s, opacity 0.5s linear;
}

.fade-out {
    opacity: 1;
    animation-name: closeFade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transition: visibility 0s, opacity 0.5s linear;
}

@keyframes showFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes closeFade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Notification */
#notification {
    display: flex;
    margin: 0 -9% 0;
}

.show-status {
    width: 23em;
    height: 100vh;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.12), 0 4px 25px 0 rgba(0, 0, 0, 0.09);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.show-status .back {
    margin: 0 1em 1.5em;
    border-bottom: 1px solid rgba(90, 94, 154, 0.1);
    padding: 20px 30px 20px 20px;
    display: flex;
    align-items: center;
    font-family: Quicksand;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.show-status .back:hover {
    background: transparent;
}

.show-status .back .MuiSvgIcon-root {
    font-size: 20px;
}

.show-status .back .MuiSvgIcon-root {
    margin-right: 0;
}

.show-status div {
    margin: .5em 1em;
    padding: 20px 30px 20px 20px;
    display: flex;
    align-items: center;
    font-family: Quicksand;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.show-status div:hover {
    background: #f7f7f7;
}

.show-status .active-status {
    background: #ff5050;
    color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #ff50506e;
}

.show-status .active-status:hover {
    background: #ff8989;
}

.show-status div .MuiSvgIcon-root {
    margin-right: 17px;
    font-size: 17px;
}

.show-notification {
    width: 100%;
    background: #f6f5f8;
}

.show-notification > div {
    width: 90%;
    height: 100vh;
    padding: 5%;
}

.show-notification .container {
    width: 29em;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.show-notification .container .title {
    display: flex;
    align-items: center;
}

.show-notification .container .title div {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    background-color: #ff5050;
    color: #fff;
    border-radius: 50%;
}

.show-notification .container p {
    margin: .5em 0;
    font-size: 15px;
    line-height: 25px;
}

.show-notification .container h6 {
    width: 25em;
    margin: 0 1em;
}

.show-notification .container > p {
    color: #000;
}

.show-notification .container .button-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.show-notification .container .button-container button {
    margin-right: .5em;
    padding: 11px 40px;
}

.show-notification .container .reject {
    background: transparent;
    color: #000;
}

.show-notification .container .reject:hover {
    background: #f9f9f9;
}

/* footer */
footer {
    display: flex;
    margin-top: 6em;
    padding: 2em 8% 5em;
    background: #f9f9f9;
}

footer img {
    width: 75px;
    height: 75px;
}

footer div {
    width: 20%;
}

footer h6 {
    margin: 1em 0;
}

footer a {
    display: block;
    margin: 1em 0;
    font-family: Quicksand;
    color: #ababab;
    transition: .2s;
}

footer a:hover {
    color: #000;
}

.footer-logo {
    width: 30%;
}
