@media screen and (max-width: 1100px) {
    /* Home */
    #home-page header img {
        margin-top: 4em;
    }
    #home-page header>div {
        margin-top: 1em;
    }
    .home-intro .step-list>div>div {
        width: 75%;
    }
    .home-intro>p {
        width: 100%;
    }

    /* Permasalahan */
    .permasalahan-list>div {
        flex-basis: 32.5%;
    }
    #form-permasalahan form {
        margin-top: -3em;
    }
    #form-permasalahan form>div:nth-child(1), #form-permasalahan .btn-container {
        flex-basis: 63%;
    }
    #form-permasalahan .form-header>div {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    /* Navbar  */
    #root>div:nth-child(1) {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav>div {
        margin: 0 5%;
    }
    nav>div>div{
        width: 200px;
        justify-content: flex-end;
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: calc(100% - 75px);
        position: fixed;
        top: 76px;
        right: -250px;
        background: #fff;
        border-left: 1px solid rgba(90, 94, 154, 0.1);
    }
    .nav-link a, .nav-link .bt {
        margin-left: 0;
        padding: 20px 30px 10px;
        background: transparent;
        color: #000;
        border: 0;
    }
    .nav-link .bt:hover {
        color: #fc5e63;
    }
    #nav-toogle {
        display: block;
    }
    /* Home */
    #home-page header img {
        width: 110%;
        height: 35em;
        margin: 11em -5% 0;
        object-fit: cover;
        object-position: 50% 0;
    }
    #home-page header>div {
        width: 90%;
    }
    .home-intro .benefit-list {
        display: block;
    }
    .home-intro .benefit-list img {
        width: 24em;
        margin: 1em 0;
        transform: rotate(-18deg);
    }
    .home-intro .benefit-list>div {
        width: 100%;
        text-align: center;
    }
    .home-intro .benefit-list>div div {
        display: block;
        margin-bottom: 2em;
    }

    /* Permasalahan */
    .permasalahan-list {
        flex-wrap: unset;
        flex-flow: unset;
        overflow-x: auto;
        width: 105%;
        margin-left: -5%;
        padding-left: 5%;
    }
    .permasalahan-list>div {
        min-width: 17em;
        margin-right: 1em;
    }
    #form-permasalahan form {
        display: block;
        margin-top: 3em;
    }
    #form-permasalahan .input-image {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
        width: 100%;
        margin-top: 2em;
        padding: 2em 0 0;
        border: 0;
        border-top: .5px solid #ececec;
    }
    #form-permasalahan .form-header img {
        position: absolute;
        top: 4em;
        right: 0;
        z-index: -1;
    }
    #form-permasalahan .form-header>div {
        width: 75%;
    }
    .home-intro .benefit-list p {
        margin: 0 !important;
    }

    /* Notification */
    #notification {
        margin: 0 -5% 0;
    }
    #notification #btn-container {
        display: flex;
        justify-content: flex-end;
    }
    .show-status {
        position: fixed;
        left: -23em
    }
    .show-notification > div {
        width: calc(100% - 2.6em);
        padding: 5em 1.3em 0;
    }

    /* Footer */
    footer {
        padding: 2em 5% 5em;
    }
    footer div {
        width: 35%;
    }
}

@media screen and (max-width: 700px) {
    /* Sign */
    #sign .form, #add-solusi .form {
        width: 80%;
    }
    /* Home */
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 16px;
        line-height: 28px;
    }
    .home-intro .step-list>div {
        display: block;
    }
    .home-intro .step-list>div img {
        width: 50%;
        margin: 0;
    }
    .home-intro .step-list>div .bt {
        margin: 2em auto 3em;
    }
    .home-intro .step-list>div>div {
        width: 100%;
        text-align: center;
    }
    .home-intro .step-list>div>div>span {
        margin: 1em auto 0;
    }

    /* Permasalahan */
    .article-container h1 {
        font-size: 30px;
    }
    #form-permasalahan .form-header img {
        width: 15em;
        height: 15em;
        margin-top: 2em;
    }
    #form-permasalahan .input-container>div {
        width: 85%;
    }

    /* Notification */
    .show-status {
        width: 15em;
    }
    .show-notification .container {
        width: calc(100% - 3em);
    }
    .show-notification .container h6 {
        width: calc(100% - 4em);
        margin: 0 0 0 1em;
    }
}

@media screen and (max-width: 500px) {
    /* Navbar */
    .nav-link {
        top: 61px;
    }
    .dropdown {
        top: 60px;
    }
    .bt-dropdown {
        width: 2em;
        height: 2em;
    }
    #nav-toogle {
        padding: 15px;
        font-size: 30px;
    }
    /* Home */
    #home-page header img {
        width: 110%;
        height: 30em;
        margin: 17em -5% 0;
        object-fit: cover;
        object-position: 50% 0;
    }
    .home-intro .benefit-list img {
        width: 90%;
    }
    
    /* Permasalahan */
    .article-container>a {
        width: -webkit-fill-available;
    }
    #sign .form, #add-solusi .form {
        padding: 1em;
    }

    /* Notification */
    .show-notification > div {
        width: calc(100% - 1em);
        padding: 4em .5em 0;
    }
    #notification #btn-container {
        padding: 1em;
    }

    /* footer */
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer div {
        width: 100%;
        text-align: center;
    }
}